NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=pdf_app
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=change_this_secret_with_a_long_random_value
JWT_EXPIRES_IN=1d

# Cookie d'authentification httpOnly
AUTH_COOKIE_NAME=access_token
AUTH_COOKIE_MAX_AGE_MS=86400000
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax

UPLOAD_DIR=src/uploads/pdfs
MAX_PDF_SIZE_MB=20

ADMIN_FULL_NAME=Administrateur
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
